                                                                                         /*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 25, 2023, 5:59:04 PM
    Author     : trong
*/
body {
    overflow-x: hidden;
}
.banner-bg {
    position: relative;
    background-image: url("../assets/banner-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
    z-index: -99;
}

.banner-textbox {
    border: 1px solid darkblue;
}

.banner3 {
    transform: translateY(60px);
}
.contact form {
    border: 3px dashed #0066ff;
    border-radius: 15px;
    padding: 4rem;

}

.careers .image {
    width: 800px;
    margin-right: 20px;
}

.careers-table {
    background-color: rgba(255,255,255,0.4) !important;
    box-shadow: 1px 2px 4px 2px rgba(0,0,0,0.2), 4px 2px 8px 2px rgba(0,0,0,0.2)
}
.footer {
    height: 80px;
    color: #333333;
    background-color: #82cfef;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}
.workplace-and-contact {
    background-image: url(../assets/banner-bg.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.header {
    position: fixed;
    z-index: 9999;
    backdrop-filter: blur(4px);

    background-color: rgba(255,255,255, 0.6);
    box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.table {
    border-collapse: separate;
        border-spacing: 0 4px;
}
.table td {
    padding: 0.5rem;
}
.full-width {
    width: 100%;
}
