<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DispatchServlet</servlet-name>
        <servlet-class>controlller.DispatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffListController</servlet-name>
        <servlet-class>controlller.StaffListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controlller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDetailController</servlet-name>
        <servlet-class>controlller.StaffDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controlller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindStaffDetailServlet</servlet-name>
        <servlet-class>controlller.FindStaffDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaffDetailServlet</servlet-name>
        <servlet-class>controlller.UpdateStaffDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaffDetailServlet</servlet-name>
        <servlet-class>controlller.DeleteStaffDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountListServlet</servlet-name>
        <servlet-class>controlller.AccountListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountDetailServlet</servlet-name>
        <servlet-class>controlller.AccountDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OvertimeListServlet</servlet-name>
        <servlet-class>controlller.OvertimeListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OvertimeDetailServlet</servlet-name>
        <servlet-class>controlller.OvertimeDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContractListServlet</servlet-name>
        <servlet-class>controlller.ContractListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContractDetailServlet</servlet-name>
        <servlet-class>controlller.ContractDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountDetailServlet</servlet-name>
        <servlet-class>controlller.UpdateAccountDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDateOvertime</servlet-name>
        <servlet-class>controlller.SearchDateOvertime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OvertimeDetail2</servlet-name>
        <servlet-class>controlller.OvertimeDetail2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DropDownServlet</servlet-name>
        <servlet-class>controlller.DropDownServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DayLeavePendingServlet</servlet-name>
        <servlet-class>controlller.DayLeavePendingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateApproveServlet</servlet-name>
        <servlet-class>controlller.UpdateApproveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DayLeaveServlet</servlet-name>
        <servlet-class>controlller.DayLeaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DayLeaveRejectServlet</servlet-name>
        <servlet-class>controlller.DayLeaveRejectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRejectServlet</servlet-name>
        <servlet-class>controlller.UpdateRejectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SentDayLeaveServlet</servlet-name>
        <servlet-class>controlller.SentDayLeaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInfoServlet</servlet-name>
        <servlet-class>controlller.UserInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>controlller.ReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReportServlet</servlet-name>
        <servlet-class>controlller.ViewReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PendingApplicantServlet</servlet-name>
        <servlet-class>controlller.PendingApplicantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controlller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassApplicantServlet</servlet-name>
        <servlet-class>controlller.PassApplicantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectApplicantServlet</servlet-name>
        <servlet-class>controlller.RejectApplicantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyApplicantServlet</servlet-name>
        <servlet-class>controlller.ApplyApplicantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserInfoServlet</servlet-name>
        <servlet-class>controlller.UpdateUserInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDayLeaveServlet</servlet-name>
        <servlet-class>controlller.CreateDayLeaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateHrApplicationServlet</servlet-name>
        <servlet-class>controlller.CreateHrApplicationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchReporServlet</servlet-name>
        <servlet-class>controlller.SearchReporServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateReporServlet</servlet-name>
        <servlet-class>controlller.CreateReporServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HRMainController</servlet-name>
        <servlet-class>controlller.HRMainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllReportServlet</servlet-name>
        <servlet-class>controlller.AllReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAllReportServlet</servlet-name>
        <servlet-class>controlller.SearchAllReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllPendingDayLeaveServlet</servlet-name>
        <servlet-class>controlller.AllPendingDayLeaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllApproveDayLeaveServlet</servlet-name>
        <servlet-class>controlller.AllApproveDayLeaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllRejectDayLeaveServlet</servlet-name>
        <servlet-class>controlller.AllRejectDayLeaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchNameContractServlet</servlet-name>
        <servlet-class>controlller.SearchNameContractServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatchServlet</servlet-name>
        <url-pattern>/DispatchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffListController</servlet-name>
        <url-pattern>/StaffListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/ChangePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDetailController</servlet-name>
        <url-pattern>/StaffDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindStaffDetailServlet</servlet-name>
        <url-pattern>/FindStaffDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaffDetailServlet</servlet-name>
        <url-pattern>/UpdateStaffDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaffDetailServlet</servlet-name>
        <url-pattern>/DeleteStaffDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDayLeaveServlet</servlet-name>
        <url-pattern>/CreateDayLeaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OvertimeListServlet</servlet-name>
        <url-pattern>/OvertimeListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OvertimeDetailServlet</servlet-name>
        <url-pattern>/OvertimeDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountListServlet</servlet-name>
        <url-pattern>/AccountListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountDetailServlet</servlet-name>
        <url-pattern>/AccountDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContractListServlet</servlet-name>
        <url-pattern>/ContractListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContractDetailServlet</servlet-name>
        <url-pattern>/ContractDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountDetailServlet</servlet-name>
        <url-pattern>/UpdateAccountDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDateOvertime</servlet-name>
        <url-pattern>/SearchDateOvertime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OvertimeDetail2</servlet-name>
        <url-pattern>/OvertimeDetail2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DropDownServlet</servlet-name>
        <url-pattern>/DropDownServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DayLeavePendingServlet</servlet-name>
        <url-pattern>/DayLeavePendingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateApproveServlet</servlet-name>
        <url-pattern>/UpdateApproveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DayLeaveServlet</servlet-name>
        <url-pattern>/DayLeaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DayLeaveRejectServlet</servlet-name>
        <url-pattern>/DayLeaveRejectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRejectServlet</servlet-name>
        <url-pattern>/UpdateRejectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SentDayLeaveServlet</servlet-name>
        <url-pattern>/SentDayLeaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInfoServlet</servlet-name>
        <url-pattern>/UserInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/ReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReportServlet</servlet-name>
        <url-pattern>/ViewReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PendingApplicantServlet</servlet-name>
        <url-pattern>/PendingApplicantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassApplicantServlet</servlet-name>
        <url-pattern>/PassApplicantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectApplicantServlet</servlet-name>
        <url-pattern>/RejectApplicantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyApplicantServlet</servlet-name>
        <url-pattern>/ApplyApplicantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserInfoServlet</servlet-name>
        <url-pattern>/UpdateUserInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateHrApplicationServlet</servlet-name>
        <url-pattern>/CreateHrApplicationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchReporServlet</servlet-name>
        <url-pattern>/SearchReporServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateReporServlet</servlet-name>
        <url-pattern>/CreateReporServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HRMainController</servlet-name>
        <url-pattern>/HRMainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllReportServlet</servlet-name>
        <url-pattern>/AllReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAllReportServlet</servlet-name>
        <url-pattern>/SearchAllReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllPendingDayLeaveServlet</servlet-name>
        <url-pattern>/AllPendingDayLeaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllApproveDayLeaveServlet</servlet-name>
        <url-pattern>/AllApproveDayLeaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllRejectDayLeaveServlet</servlet-name>
        <url-pattern>/AllRejectDayLeaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchNameContractServlet</servlet-name>
        <url-pattern>/SearchNameContractServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home page.jsp</welcome-file>
    </welcome-file-list>
</web-app>
